
<body>
  <div class="container-fluid text-center text-white" style="background: rgba(59, 143, 197);">
    <div class="row p-2">
      <div class="col mt-auto mb-auto">
        <svg data-ux="SVG" viewBox=" 0 0 35 35" dataaids="SEASONAL_WINTER_LEFT_ICON_RENDERED" class="svgcls"><g stroke="currentColor" fill="none" fill-rule="evenodd"><path d="M16.724 10.726l4.651 5.349M12.03 16.408L16.8 21.8M16.8 1.8v28M30.8 16.3h-28M15.8 1.3a1 1 0 1 1 1.999 0 1 1 0 0 1-2 0zM30.3 16.3a1 1 0 1 1 1.999 0 1 1 0 0 1-2 0zM1.3 16.3a1 1 0 1 1 1.999 0 1 1 0 0 1-2 0zM15.8 30.8a1 1 0 1 1 1.999 0 1 1 0 0 1-2 0zM23.05 10.05l-12.5 12.5M22.6 9.3a1 1 0 1 1 1.999-.002A1 1 0 0 1 22.6 9.3zM8.8 23.3a1 1 0 1 1 1.999 0 1 1 0 0 1-2 0zM16.99 5.545l10.02 10.961M17 27.3l-10.7-11M27.01 16.131l-10.02 10.96M6.59 17.091l10.02-10.96M22.925 22.086L10.688 9.328M22.459 22.826a1 1 0 1 0 2 .043 1 1 0 0 0-2-.043zM8.953 8.542a1.001 1.001 0 1 0 2.002.04 1.001 1.001 0 0 0-2.002-.04z"></path></g></svg>
      </div>
      <div class="col-7 mt-auto mb-auto text-center">
        <p class="h4">"SKILL UPGRADATION FOR RURAL - YOUTH EMPOWERMENT"</p>
      </div>
      <div class="col mt-auto mb-auto">
        <svg data-ux="SVG" viewBox=" 0 0 35 35" dataaids="SEASONAL_WINTER_LEFT_ICON_RENDERED" class="svgcls"><g stroke="currentColor" fill="none" fill-rule="evenodd"><path d="M16.724 10.726l4.651 5.349M12.03 16.408L16.8 21.8M16.8 1.8v28M30.8 16.3h-28M15.8 1.3a1 1 0 1 1 1.999 0 1 1 0 0 1-2 0zM30.3 16.3a1 1 0 1 1 1.999 0 1 1 0 0 1-2 0zM1.3 16.3a1 1 0 1 1 1.999 0 1 1 0 0 1-2 0zM15.8 30.8a1 1 0 1 1 1.999 0 1 1 0 0 1-2 0zM23.05 10.05l-12.5 12.5M22.6 9.3a1 1 0 1 1 1.999-.002A1 1 0 0 1 22.6 9.3zM8.8 23.3a1 1 0 1 1 1.999 0 1 1 0 0 1-2 0zM16.99 5.545l10.02 10.961M17 27.3l-10.7-11M27.01 16.131l-10.02 10.96M6.59 17.091l10.02-10.96M22.925 22.086L10.688 9.328M22.459 22.826a1 1 0 1 0 2 .043 1 1 0 0 0-2-.043zM8.953 8.542a1.001 1.001 0 1 0 2.002.04 1.001 1.001 0 0 0-2.002-.04z"></path></g></svg>
      </div>
    </div> 
   </div>
  <!--herologo-->
  <!-- <div>
    <div class="mt-5 mb-3 text-center">
      <img class="d-block mx-auto sure_logo" src="logo.png" alt="">
    </div>
  </div> -->
  <!--navbar-->
    
  
  <!--Dashboard-->
  <div class="container-fluid" style="background: rgba(59, 143, 197);">
    
      <div class="row p-3  box">
          <div class="col-3 rounded cardImg  "> 
        
        <div class="rounded w-100 bg-white text-center text-dark p-5 shadow-lg">
          <img class="center border rounded-circle w-100" src="https://www.w3schools.com/howto/img_avatar.png" alt="User Profile Pic" height="50%">
            <div class="container w-100 h-auto mx-auto p-3 color1" style="margin-top:-18%;border-radius:10%;">
              <br>
              <div class="mytxt1 p-1 mt-3 h3">K Kumar</div>
              <div class="mytxt2 p-1">Power BI</div>
            </div>
        </div> 
        <div class="container-fluid text-center bg-white">
            <table class="table table-borderless">
             <tbody>
                <tr>
                  <td>Completed Courses : </td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>Videos</td>
                  <td>11</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  
          <div class="col-9 bg-white rounded pt-3">
        <!--tab-->
        <ul class="nav nav-tabs shadow p-2 bg-white text-dark" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab"   [routerLink]="['']">All Courses</button>
          </li>
          
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" [routerLink]="['/edit']">Add Courses</button>
          </li>
     
  
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" [routerLink]="['/quiz']">Create Quiz</button>
        </li>
        </ul>
        
        <div class="tab-content p-3 Allques" id="myTabContent" >
            <form class="box needs-validation clearfix" (ngSubmit)="submitForm(langForm)" #langForm="ngForm"  novalidate>
              <!-- <div class="myform">
                <label for="validationCustom18">No.</label>
                <div class="input_group">
                  <input type="text" id="formInput"[(ngModel)]="model.ques_id" id="ques_id" name="ques_id" class="ques_inp" #ques_id="ngModel">
          
                </div>
              </div> -->
              
          
              <div class="myform">
                <label for="validationCustom18">Quiz Id</label>
                <div class="input_group">
                  <input type="text" id="formInput"[(ngModel)]="model.quiz_id" id="quiz_id" class="inpId" name="ques_id"  #quiz_id="ngModel">
          
                </div>
              </div>
             
             <div class="myform">
              <label for="validationCusom18">Question :</label>
              <div class="input_group">

                 <input type="text" [(ngModel)]="model.ques" id="ques" name="ques" class="ans_inp" #ques="ngModel">
              </div>
            </div>


              <div class="myform">
                <label for="validationCusom18">Option1 </label>
                <div class="input_group">
                  <input type="text" [(ngModel)]="model.option1"name="option1" id="option1" class="ans_inp" #option1="ngModel">
                </div>
              </div>
              <div class="myform">
                <label for="validationCusom18">Option2</label>
                <div class="input_group  ">
                  <input type="text" [(ngModel)]="model.option2"name="option2" id="option2" class="ans_inp" #option2="ngModel">
                </div>
              </div>
              <div class="myform">
                <label for="validationCusom18">Option3</label>
                <div class="input_group  ">
                  <input type="text" [(ngModel)]="model.option3"name="option3" id="option3" class="ans_inp" #option3="ngModel">
                </div>
              </div>
              <div class="myform">
                <label for="validationCusom18">Option4</label>
                <div class="input_group  ">
                  <input type="text" [(ngModel)]="model.option4"name="option4" id="option4" class="ans_inp" #option4="ngModel">
                </div>
              </div>
              <div class="myform">
                <label for="validationCusom18">Correct Answer</label>
                <div class="input_group  ">
                  <input type="text" [(ngModel)]="model.ans"name="ans" id="ans" class="ans_inp" #ans="ngModel">
                </div>
              </div>
              <!-- <div class="myform">
                <label for="validationCusom18">Total marks</label>
                <div class="input_group  ">
                  <input type="text" [(ngModel)]="model.total_marks"name="total_marks" id="total_marks" class="ans_inp" #ans="ngModel">
                </div>
              </div>
              <div class="myform">
                <label for="validationCusom18">Minimum marks required</label>
                <div class="input_group  ">
                  <input type="text" [(ngModel)]="model.min_marks"name="min_marks" id="min_marks" class="ans_inp" #ans="ngModel">
                </div>
              </div> -->
              <div class="myform">
                <label for="validationCusom18 point">Points </label>
                <div class="input_group">
                  <input type="text" [(ngModel)]="model.point"name="point" id="point" class="inpId" #point="ngModel">
                </div>
              </div>
             
              
          
              <button type="submit" class=" mybtn btn  btn-success" >SUBMIT</button>
              <button type="button" class="mybtn btn bg-light" (click)="langForm.reset()">CLEAR</button>
              <!-- <button type="button" class="my-btn" (click)="updateForm(model)">UPDATE</button> -->
              <!-- <button type="button" class="my-btn" (click)="deleteForm(model)">DELETE</button> -->
            </form>
          </div>
        

          
        </div>
        </div>
      </div>
    
            <!--footer-->
    <div class="container-fluid footer bg-light">
        <div class="row p-5">
          <div class="col">
            <p>COPYRIGHT © 2020 SURE INITIATIVE - ALL RIGHTS RESERVED.</p>
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16"><path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/></svg>
              </div>
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16"><path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
          </svg>
              </div>
            </div>
          </div>
          <div class="col m-auto">
            <p>BUILT BY THE SURE INITIATIVE TEAM</p>
          </div>
        </div>
      </div>
</body>
  
  
     