
/* 
.myform{
    padding: 0.5rem;
   text-align: center;
}
.box{
    width: 40rem;
    height: 25rem;
    border-radius: 5px;
    display: block;
    margin: auto;
    background:linear-gradient(rgb(231, 240, 243),rgb(221, 231, 245));
}
input{
    padding:0.4rem;
    margin: 0.5rem;
    border: none;
    width: 19rem;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-variant: small-caps;
    font-size: larger;
}
.myinput{
    padding:0.4rem;
    margin: 0.5rem;
    border: none;
    width: 4.5rem;
    border-radius: 5px;
}
.my-btn{
    padding: .5rem;
   border-radius: 4px;
    margin-left:4.3rem;
    margin-top: 1rem;
    border: 1px solid white;
    background-color: transparent;
    color: black;

}
.mybtn:hover{
    font-size: .8rem;
    background-color: rgb(193, 225, 252);
    
}
.mytable{
   padding: 0.9rem;
   display: block;
   margin: 8px auto;
   width: 40rem;
   height: 30rem;
   border-radius: 5px;
   background:linear-gradient(rgb(231, 240, 243),rgb(221, 231, 245));
  
   
}
.header{
    border: 1px solid black;
    
} */

body,p{
    font-family: 'Cantarell', Arial, sans-serif;
    font-weight: 400;
  }
  .toptxt{
    font-size: 20px;
      letter-spacing: 0.126em;
    }
    .topbox,.footer{
      text-transform: uppercase;
      overflow-wrap: break-word;
      text-align: center;
      line-height: 22.5px;
      box-sizing: border-box;
    }
    .svgcls{
      width: 30px;
      box-sizing: inherit;
      display: inline;
      animation-name: spin;
      letter-spacing: normal;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    .navi{
      font-family: 'Cantarell', Arial, sans-serif;
      cursor: pointer;
      font-size:18px;
      font-weight: 400;
      letter-spacing: 0.214em;
    }
    .nav-link{
      text-decoration: none;
      color: rgb(87,87,87);
      
    }
    .hero{
      text-transform: uppercase;
      letter-spacing: 0.664px;
      font-size: 28px;
    }
    .txt{
      font-size: 28px;
      overflow-wrap: break-word;
      letter-spacing: normal;
    }
    .footer{
      font-size: 15px;
      color: rgb(89,89,89);
      font-weight: 400;
      letter-spacing: 1.245;
    }
     #logo{
        width:100vw;
        display: flex;
        justify-content: center;
    }
    .sure_logo{
        width:18rem;
        height: 18rem;
    }
    .btn hover{
      background: rgba(59, 143, 197);
    }
     @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    /* Grades CSS */

    .assignment>p>.btn{
         width:  100%;
         text-align: left;
         display: flex;
         background-color: rgb(239, 239, 239);
         color: black;
         border: none;
    }

    .assignment>p>.btn:hover{
        background-color: #007bff;
        color: white;
        border: none;
        outline: none;
    }
    .active1{
      background-color: #007bff;

    }

    .assignment>p>.btn>.assignmentName{
      width: 33%;
    }

    .assignment>p>.btn>.courseName{
      width: 33%;
      text-align: center;
    }
    .assignment>p>.btn>.assignmentDate{
      width: 33%;
      text-align: right;
    }
     .assignment{
       margin-top: 10px;
     }
  
     .edit1{
       display: none;
     }
     .editGradesBtn{
       margin-left: 20px;
     }
     .editGradesBtn:hover{
        text-decoration: none;
     }


     button[data-bs-toggle="pill"]{
       border: none;
     }

     button[data-bs-toggle="pill"]:hover{
        border: none;
        outline: none;
     }
     @media (min-width: 900px) and (max-width: 1200px){
      .cardImg{
        display: none;
      }
      .box{
        width:78rem;
      }
    }
    @media (min-width: 600px) and (max-width: 900px) {
      .cardImg{
        display: none;
      }
      .box{
        width:65rem;
      }
    }
    @media (min-width: 0px) and (max-width: 700px) {
      .cardImg{
        display: none;
      }
      .box{
        width:40rem;
      }
    }
    .mybtn{
      margin: .3rem;
   
    }
    
   .ques_inp{
    border: none;
    background-color: #daecff;
    font-weight: 550;
    font-variant: small-caps;
    width:45rem;
    padding: 0.4rem;
    background-color: none;
    }